main {
    margin: 5% 10%;
}


button {
    color: white;
    background-color: deepskyblue;
    ont-family: "Times New Roman", Times, serif !important;
}

form {
    border: 1px solid #000;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 20%);
    background: white;
    padding: 10%;
}

h1 {
    text-align: center;
}

button:hover {
    background-color: darkblue;
}
#login-form {
    padding: 20%;
}